syntax: regexp
^local\.properties$
syntax: regexp
^bin$
syntax: regexp
^coverage$
syntax: regexp
^tmpcoverage$
syntax: regexp
^gen/junit$
syntax: regexp
^gen/.*\.xml$
syntax: regexp
^javadoc$
syntax: regexp
^gen$
syntax: regexp
^outinstr$
syntax: regexp
^test/bin$
syntax: regexp
^test/gen$
syntax: regexp
^res/raw/.*config.properties$
syntax:glob
test/local.properties
local.properties
test/coverage
test/tmpcoverage
test/bin
syntax: regexp
\.pyc$
syntax: regexp
^ota/.*$
syntax: regexp
^res/raw/apphance\.properties$
syntax: regexp
^AndroidManifest\.xml\.no_apphance$
syntax: regexp
^res/raw/production_build\.txt$